* {
    font-family: "Poppins", sans-serif;
}

body {
    background: #dfe9f5;
}

.messages {
    background-color: #00a6ff;
    border-color: #bce8f1;
    color: #ffca00;
    font-size: 20rem;
    position: fixed; /* Фиксированная позиция элемента */
    top: 20px; /* Отступ сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Сдвиг влево на 50% ширины элемента */
    padding: 0; /* Убираем отступы */
    list-style: none; /* Убираем маркеры списка */
    margin: 0; /* Убираем отступы */
}

.nav-logo {
    text-align: center;
}

.nav-logo span {
    font-size: 18px;
    font-weight: bold;
}

#side_nav {
    background: #fff;
    min-width: 250px;
    max-width: 250px;
}

.bar-item {
    color: rgb(85, 83, 83);
}

.bar-item:hover {
    color: #000;
    background: #eee;
}

.content {
    background: #dfe9f5;
    min-height: 100vh;
    width: 100%;
}

.card-body i {
    float: left;
    font-size: 9rem;
    width: 100%;
}

