{% extends "_base.html" %}

{% block content %}
    <h2 class="fw-bold">Статистика рекламных компаний</h2>
    <div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
        <div class="col">
            <ul class="list-group">
                {% for ad in data %}
                    <li class="list-group-item list-group-item-light d-flex justify-content-between">
                        <a href="/ads/detail/{{ ad.pk }}/" class="text-decoration-none link-dark">Реклама: {{ ad.title }}. </a>
                        <p> Лидов: {{ ad.client_potential }} | Заключено контрактов: {{ ad.client_active }}. </p>
                        <p> Бюджет рекламы: {{ ad.ad_price }} | Сумма контрактов: {{ ad.profit }}. </p>
                        </p> Соотношение контрактов к затратам: <b>{{ ad.ROI }}%</b> </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}